body {
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.example {
  position: fixed !important;
}

.heading {
  background-color: #424141;
  font-weight: bold;
  text-align: center;
  background-clip: padding-box;
  -webkit-background-clip: text;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-variant: petite-caps;
}

@media (max-width: 599px) {
  .heading {
    font-size: 5rem;
    margin: 2rem 0rem 0rem;
  }
}

@media (min-width: 600px) {
  .heading {
    font-size: 6rem;
  }
}

@media (min-width: 900px) {
  .heading {
    font-size: 8rem;
  }
}

@media (min-width: 1200px) {
  .heading {
    font-size: 13rem;
  }
}

@media (min-width: 1800px) {
  .heading {
    font-size: 13rem;
  }
}

.mainIntroHeading {
  text-align: center;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #07192F;
}

@media (max-width: 599px) {
  .mainIntroHeading {
    font-size: 2rem;
    margin: 0;
  }
}

@media (min-width: 600px) {
  .mainIntroHeading {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  .mainIntroHeading {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .mainIntroHeading {
    font-size: 5rem;
  }
}

@media (min-width: 1800px) {
  .mainIntroHeading {
    font-size: 6rem;
  }
}

.mainIntroHeading2 {
  text-align: center;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #07192F;
}

@media (max-width: 599px) {
  .mainIntroHeading2 {
    font-size: 2rem;
    margin: 0;
  }
}

@media (min-width: 600px) {
  .mainIntroHeading2 {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  .mainIntroHeading2 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .mainIntroHeading2 {
    font-size: 3rem;
  }
}

@media (min-width: 1800px) {
  .mainIntroHeading2 {
    font-size: 4rem;
  }
}

.boy {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.navBurger {
  padding: 1.5rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.685);
  border-bottom-right-radius: 70px;
  cursor: -webkit-grab;
  cursor: grab;
}

.skillheading {
  font-weight: 400;
}

@media (max-width: 599px) {
  .skillheading {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  .skillheading {
    font-size: 1rem;
  }
}

@media (min-width: 900px) {
  .skillheading {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .skillheading {
    font-size: 2rem;
  }
}

@media (min-width: 1800px) {
  .skillheading {
    font-size: 2rem;
  }
}

.skilldescription {
  font-weight: bold;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-top: 0rem;
}

@media (max-width: 599px) {
  .skilldescription {
    font-size: 1rem;
    padding: none;
  }
}

@media (min-width: 600px) {
  .skilldescription {
    font-size: 1rem;
  }
}

@media (min-width: 900px) {
  .skilldescription {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .skilldescription {
    font-size: 2rem;
  }
}

@media (min-width: 1800px) {
  .skilldescription {
    font-size: 2rem;
  }
}

.projectHeading {
  font-weight: 400;
}

@media (max-width: 599px) {
  .projectHeading {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  .projectHeading {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  .projectHeading {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .projectHeading {
    font-size: 2rem;
  }
}

@media (min-width: 1800px) {
  .projectHeading {
    font-size: 2rem;
  }
}

.footerText {
  background-color: #d4d4d4;
  color: black;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.postion {
  margin: 7rem auto;
  text-align: center;
}

@media (max-width: 599px) {
  .postion {
    margin: 2.5rem auto;
    text-align: center;
  }
}
/*# sourceMappingURL=layout.css.map */